/* 学生界面哈希算法，时间轴默认样式 */
.el-timeline-item__timestamp {
    color: #f5f5f5 !important;
}

/*学生界面哈希算法，选项卡样式修改*/
.el-tabs__nav {
  /*height: 100% !important;*/
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*flex-direction: column;*/
}

.el-tabs__active-bar {
  /*height: 25% !important;*/
  /*transform: translateY(25%) !important;*/
}

/*穿梭框样式修改*/
.el-transfer-panel {
  width: 290px !important;
}

/*单选样式修改*/
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background-color: rgb(105, 179, 194) !important;
  border-color: rgb(105, 179, 194) !important;
  box-shadow: -1px 0 0 0 rgb(105, 179, 194) !important;
  color:white !important;
}
.el-radio-button__inner:hover{
  color:#44a0b3 !important;
}

/*按钮样式*/
.el-button--warning {
  color: #FFF !important;
  background-color: #FBC638 !important;
  border-color: #FBC638 !important;
}
.start_run_ord {
  color: #fff !important;
  background-color: rgb(105, 179, 194) !important;
  border-color: rgb(105, 179, 194) !important;
}

/*RSA质数范围单选*/
/*.range_radio .el-radio-button__inner{*/
  /*padding: 6px 6px !important;*/
/*}*/

