/*所有视口通用样式*/
.main-con {

}

.pad_con{
  padding: 15px 0;
  height: 100%;
  overflow-y: auto;
}
/*学生用户-数组签名介绍界面*/
/*轮播条*/
.el-carousel {
  margin: 10px 30px;
}
.el-carousel__item{
  border-radius: 10px;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 400px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}

/*引导卡片*/
.birth_con {
  height: calc(100% - 450px);
  min-height: 400px;
  display: flex;
  padding: 5px 10px 20px 10px;
}

.birth_title {
  display: block;
  position: absolute;
  height: 30px;
  line-height: 30px;
}

.birth_text {
  line-height: 25px;
  height: 270px;
  overflow-y: auto;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.box-card {
  height: calc(100% - 30px);
  position: relative;
  margin: 10px 20px;
  background-color: #f5f5f5;
}

.birth_op{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin:20px 0;
}

.diy_birth_btn{
  margin: 0 20px;
}
