/*所有视口通用样式*/
.main-con {

}

.pad_con {
  padding: 15px 0;
  height: 100%;
  overflow-y: auto;
}

.video_start_con {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: url("../../assets/images/video_logo.png");
  top: 50%;
  margin-top: -27px;
  z-index: 10000;
  text-align: left;
  line-height: 50px;
  font-size: 20px;
  font-weight: 800;
  margin-right: -41px;
  border:2px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.5s;
  overflow: hidden;
}

.video_start_con:hover {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  transition: all 0.5s;
  transform:  translateX( -41px )
}

/*学生用户-数组签名介绍界面*/
/*轮播条*/
.el-carousel {
  margin: 10px 30px;
}

.el-carousel__item {
  border-radius: 10px;
}

.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 400px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #f5f5f5;
  color: #44a0b3;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #f5f5f5;
  color: #f56c6c;
}

.swiper_img {
  height: 100%;
  z-index: 100;
  position: absolute;
}

.swiper_text {
  display: block;
  width: calc(100% - 585px);
  height: 100%;
  line-height: 30px;
  padding: 15px 15px;
  right: 0;
  position: absolute;
  z-index: 200;
  float: left;
  font-weight: 600;
  font-size: 15px;
}

.el-carousel__item:nth-child(2n) .swiper_title {
  display: block;
  color: #f5f5f5;
  padding: 5px 10px;
  background: #44a0b3;
  text-align: center;
  width: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.el-carousel__item:nth-child(2n+1) .swiper_title {
  display: block;
  color: #f5f5f5;
  padding: 5px 10px;
  background: #f56c6c;
  text-align: center;
  width: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 15px;
}

/*引导卡片*/
.birth_con {
  height: calc(100% - 450px);
  min-height: 400px;
  display: flex;
  padding: 5px 10px 20px 10px;
}

.birth_title, .hash_title {
  display: block;
  position: absolute;
  height: 30px;
  line-height: 30px;
  background-color: #44a0b3;
  border-radius: 30px;
  padding: 0 15px;
  color: #f5f5f5;
}

.birth_text {
  line-height: 25px;
  height: 270px;
  overflow-y: auto;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.box-card {
  height: calc(100% - 30px);
  position: relative;
  margin: 10px 20px;
  background-color: #f5f5f5;
}

.birth_op {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

.diy_birth_btn {
  margin: 0 20px;
}

/*学生用户-Hash算法介绍界面*/
/* 左边的line型说明内容 */
.line_con {
  width: 250px;
  margin-left: 20px;
  position: relative;
  float: right;
}

.line_p {
  line-height: 20px;
}

/* 右边1号卡片内容 */
.tag_con {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tag_con .el-tag {
  margin: 0 20px;
}

/* 右边2号卡片内容 */
.hash_con {
  /* width: calc(100% - 290px); */
  width: calc(100%);
  height: 100%;
  padding-bottom: 20px;
  position: relative;
  float: left;
}

.col_con {
  height: 50%;
}

.lr_con {
  min-height: 100%;
}

.l_con {
  border-right: 1px dashed #444;
  padding-right: 8px;
}

.r_con {
  margin-left: 9px;
}

.lr_con .text_tag {
  margin: 0 auto;
  display: block;
  height: auto;
  width: 80%;
  text-align: center;
}

.hash_text {
  line-height: 25px;
  height: 290px;
  overflow-y: auto;
}

.hash_text p {
  margin-bottom: 10px;
}

.inline_img {
  border-radius: 5px;
  margin: 0 auto;
  display: block;
}

.half_hash_input {
  width: 88%;
  left: 10%;
}

/* 右边3号卡片内容 */
.hash_d, .hash_n {
  width: 80%;
  left: 10%;
}

/*右边4号卡片内容*/
.func_con {
  height: 100%;
  width: 100%;
}

.dataset_con {
  /*height: 290px;*/
  /*!*width: 100%;*!*/
  /*overflow-y: auto;*/
  margin-top: 10px;
  text-align: center;
}

.func_content_con {
  height: 290px;
  width: 100%;
  overflow-y: auto;
}

.hash_func_desc {
  width: 28%;
  float: left;
  height: 290px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hashcalc_start {
  margin: 0 auto;
  display: block;
}

.mini_input {
  width: 100%;
}

.mini_btn {
  width: 35px;
  padding: 10px 10px;
}

.anly_pic{
  border-radius: 5px;
  width: 120px;
  display: block;
  margin: 0 auto;
}
.pow_pic, .coll_pic {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

/*学生用户-非对称加密算法界面*/
/*RSA加密解密演示相关样式*/
/*信息录入*/
.rsa_info_con {

}

.rsa_info {
  height: 285px;
  width: 95%;
}

/*信息初步处理*/
.rsa_result_con{
  padding: 0 10px;
}

.rsa_result {
  height: 285px;
}

.result_text {
  padding: 7px 10px;
}

/*RSA演示线*/
.rsa_line_con {}

.rsa_line {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rsa_line li {
  /*height: 290px;*/
  /*background: red;*/
}

.user_div {
  /*position: relative;*/
  /*top: 50%;*/
  /*margin-top: -35px;*/
  margin: 0 auto;
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #FBC638;
  color: #fff;
}

.rsa_gong_con {
  display: none;
  height: 285px;
  opacity: 0;
  width: 0px;
  transition: all 1s;
}

.rsa_gong {
  width: 100%;
  height: 98%;
}

/*学生用户-数字签名之旅界面*/
/*学生用户-数字签名之旅界面*/
.wel_con {
  width: 550px;
  height: 400px;
  top:50%;
  margin-top: -300px;
  left: 50%;
  background-color: #FFFFFF;
  margin-left: -275px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #FBC638;
  position: relative;
  transition: all 1s;
}

.wel_con:hover {
  box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.2);
  transition: all 0.5s;
}

.wel_title {
  width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(0deg, #FBC638, #FAA600); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(0deg, #FBC638, #FAA600); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(0deg, #FBC638, #FAA600); /* Firefox 3.6 - 15 */
  background: linear-gradient(0deg, #FBC638, #FAA600); /* 标准的语法 */
}

.wel_title_text {
  color: #FFFFFF;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: 800;
  font-size: 24px;
  display: block;
  margin: 0 auto;
  position: absolute;
}

.wel_logo_con {
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  position: absolute;
  z-index: 100;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border:2px solid #F1F1F1;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
}

.wel_logo_con img {
  width: 70%;
  height: 70%;
  left: 15%;
  top: 15%;
  position: relative;
}

.wel_op_con {
  position: relative;
  height: calc(100% - 120px);
  padding: 10px 20px;
}

.send_note {
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
}

/*欢迎界面和数字签名旅行界面转场效果*/
.trip_wel-enter-active {
  transition: all .8s
}
.trip_wel-enter, .trip_wel-leave-active {
  opacity: 0;
  transform:  translateY( -200px );
  /*transform: rotate(-15deg);*/
}

.trip_detail-enter-active {
  transition: all .5s
}
.trip_detail-enter, .trip_detail-leave-active {
  opacity: 0;
  transform:  translateY( -200px );
  /*transform: rotate(-15deg);*/
}

.trip_hack-enter-active {
  transition: all .5s
}
.trip_hack-enter, .trip_hack-leave-active {
  opacity: 0;
  transform:  translateY( -200px );
  transition: all .5s
  /*transform: rotate(-15deg);*/
}


/*返回重新填写钥匙*/
.trip_back {
  display: block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #FAA600;
  color: #FFFFFF;
  font-weight: 800;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 100;
}

.font_change {
  font-family: "宋体" !important;
}

.trip_back:hover {
  top: 97px;
  width: 160px;
  height: 46px;
  line-height: 46px;
  transition: all 0.5s;
}

/*数字签名业务工作流*/
/*通用样式*/
.col_con_long {
  height: 100%;
}

.trip_con {
  /* width: calc(100% - 290px); */
  width: calc(100%);
  height: calc(100% - 20px);
  padding-bottom: 20px;
  position: relative;
  float: left;
}

.trip_text {
  line-height: 25px;
  height: calc(100% - 100px);
  overflow-y: auto;
  width: calc(100% - 40px);
  position: absolute;
}

.trip_text p{
  /*line-height: 80px;*/
}

.trip_line {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.trip_line li:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.trip_line li:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*background-color: #f56c6c;*/
}

.trip_line li:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*小航的加密打包传送模块*/
.trip_hang {
  width: 550px;
  height: 550px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #44a0b3;
  overflow: hidden;
}

.trip_hat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 550px;
  height: 110px;
  background-color: #44a0b3;
}

.trip_boy_logo {
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.boy_text {
  display: block;
  width: 50px;
  height: 110px;
  text-align: center;
  line-height: 110px;
  font-weight: 800;
  font-size: 35px;
  color: #44a0b3;
  background-color: #ffffff;
}

.trip_main_con {
  width: 450px;
  margin: 0 auto;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.trip_main_con .el-button{
  margin-left: 10px;
}

.hack_main_con .el-button{
  margin-left: 8px;
}

/*小昂的解密接收模块*/
.trip_ang {
  width: 550px;
  height: 550px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #44a0b3;
  overflow: hidden;
}

/*黑客拦截模块样式*/
.trip_hack {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border:3px solid #44a0b3;
  overflow: hidden;
}

.hack_hat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 350px;
  height: 80px;
  background-color: #44a0b3;
}

.hack_text {
  display: block;
  width: 30px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-weight: 800;
  font-size: 25px;
  color: #44a0b3;
  background-color: #ffffff;
}

.trip_hack_logo {
  width: 65px;
  height: 65px;
  margin-top: 10px;
  margin-left: 14px;
  margin-right: 14px;
  position: relative;
}

.hack_main_con {
  width: 300px;
  margin: 0 auto;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*信件传输匹配样式*/
.trip_env {
  width: 450px;
  height: 250px;
  /*background-color: #FAA600;*/
}

.send_env_logo {
  width: 150px;
  height: 150px;
  display: flex;
  margin: 0 auto;
}

.send_list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: 800;
  font-size: 30px;
}

.send_list li {
  font-family: "宋体" !important;
}

.right_point {
}

/*学生用户-题库界面*/
/*学生用户-题库界面*/
.index {
  width: calc(100%);
  height: 800px;
  position: relative;
  margin-top: 30px;
  float: left;
}
.entrance-bottom-frame{
  transition: all 0.8s;
  width: 10000%;
  margin: 0 auto;
  height:630px;
  margin-top: 40px;
  position: absolute;
  left: 50%;
  margin-left: -550px;
}
.entrance-bottom-frame-beijing{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: url(../images/yincang.png);
  background-size:cover;
}
.entrance-bottom-frame-line{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-filter: grayscale(100%);/* CSS3 filter方式，webkit内核方式，firefox外的绝大部分的现代浏览器*/
  -moz-filter: grayscale(100%);            /* 目前没有实现 */
  -o-filter: grayscale(100%);
  filter: grayscale(100%);            /* CSS3 filter方式，标准写法*/
  background-color: #ffffff;
  transition: all 0.8s;
  pointer-events: none;
  cursor: default;
  margin-top: 35px;
  box-shadow: 0 0 5px #c5e2ff;
  width: 1000px;
  height: 570px;
  float: left;
  margin-left:50px;
  position: relative;
}
.entrance-bottom-frame-line-id{
  font-size: 30px;
  color: white;
  text-align:center;
  line-height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  background: -webkit-linear-gradient(left,#ff916a, #FBC638); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,#ff916a, #FBC638); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,#ff916a, #FBC638); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,#ff916a, #FBC638); /* 标准的语法 */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  top: -30px;
}
.entrance-bottom-frame-line-title{
  font-size: 20px;
  font-weight: 800;
  width: 900px;
  margin: 70px auto 20px auto;
}
.entrance-bottom-frame-line-button{
  transition: margin 0.8s;
  position: relative;
  cursor: pointer;
  width: 420px;
  height: 70px;
  margin:10px 20px 0px 45px;
  float: left;
  box-sizing: border-box;
  background: #f2f2f2;
  border-radius: 36px;
  padding: 0 35px;
}
.entrance-bottom-frame-line-button-id{
  width: 30px;
  line-height: 70px;
  display: table-cell;
  font-size: 24px;
}
.entrance-bottom-frame-line-button-frame{
  line-height: 20px;
  width: 335px;
  height: 70px;
  display: table-cell;
  vertical-align:middle ;
}
.entrance-bottom-frame-line-button:hover{
  color: white;
  /*background: -webkit-linear-gradient(left,#ff916a, #ff6a6b); !* Safari 5.1 - 6.0 *!*/
  /*background: -o-linear-gradient(right,#ff916a, #ff6a6b); !* Opera 11.1 - 12.0 *!*/
  /*background: -moz-linear-gradient(right,#ff916a, #ff6a6b); !* Firefox 3.6 - 15 *!*/
  /*background: linear-gradient(to right,#ff916a, #ff6a6b); !* 标准的语法 *!*/
  background: -webkit-linear-gradient(left,#ff916a, #FBC638); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,#ff916a, #FBC638); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,#ff916a, #FBC638); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,#ff916a, #FBC638); /* 标准的语法 */
}
.button-choose {
  color: white;
  /*background: -webkit-linear-gradient(left,#ff916a, #ff6a6b); !* Safari 5.1 - 6.0 *!*/
  /*background: -o-linear-gradient(right,#ff916a, #ff6a6b); !* Opera 11.1 - 12.0 *!*/
  /*background: -moz-linear-gradient(right,#ff916a, #ff6a6b); !* Firefox 3.6 - 15 *!*/
  /*background: linear-gradient(to right,#ff916a, #ff6a6b); !* 标准的语法 *!*/
  background: -webkit-linear-gradient(left,#ff916a, #FBC638); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,#ff916a, #FBC638); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,#ff916a, #FBC638); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,#ff916a, #FBC638); /* 标准的语法 */
}
.entrance-bottom-frame-line.active{
  pointer-events: auto;
  height: 630px;
  margin-top: 0;
  -webkit-filter: grayscale(0%);/* CSS3 filter方式，webkit内核方式，firefox外的绝大部分的现代浏览器*/
  -moz-filter: grayscale(0%);            /* 目前没有实现 */
  -o-filter: grayscale(0%);
  filter: grayscale(0%);            /* CSS3 filter方式，标准写法*/
  filter: none;   }
.entrance-bottom-frame-line.active .entrance-bottom-frame-line-button{
  margin-top: 30px;
}
.entrance-bottom-frame-line.active .entrance-bottom-frame-beijing{
  display: none;
}
.entrance-bottom-frame-beijing.none{
  background: #000000;opacity: 0.2;
}
.pre_message{
  width: 900px;
  height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 35px 90px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  white-space: pre-wrap;
  word-break: normal;
  background:url(../images/code.png);
  margin: 0 auto;
  font-size: 14px;
}
.pre_message::-webkit-scrollbar{
  display: none;
}
code {
  font-size: 20px;
  line-height: 40px;
}

.choose_index_con {
  width: 400px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -200px;
}

.choose_index_con ul {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.choose_index_con ul li {
  float: left;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.ti_btn {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #44a0b3;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
}

.ti_btn_active {
  background-color: #FAA600;
}

.jiexi_tag p{
  margin-top: 15px;
  line-height: 25px;
}


